{% if objects %}
    {% load thumbnail %}
    <div class="main-preview-game-slider">
        <div class="visual">
            {% for obj in objects %}
                <div class="item" data-switcher-color="#{{ obj.slider_color|default:"42605e" }}">
                    <a href="{{ obj.scheme }}://{{ request.get_host }}{{ obj.get_absolute_url }}">
                        {% if obj.image_big %}
                            {% thumbnail obj.image_big "1042x326" as im %}
                                <img data-src="{{ im.url }}" alt="{{ obj }}" class="lazy">
                            {% endthumbnail %}
                        {% endif %}
                        <strong class="h2">{{ obj }}</strong>
                    </a>
                </div>
            {% endfor %}
        </div>
        <ul class="switcher">
            {% for obj in objects %}
                <li>{{ obj }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}