{% load thumbnail %}
<div class="games-group">
    <strong class="h4">{% if block.link %}<a href="{{ block.get_absolute_url }}">{% endif %}{{ block.name }}{% if block.link %}</a>{% endif %}</strong>
    <ul class="games-group-list{% if wide %} wide{% endif %}">
        {% for item in block.items.all %}
            <li>
                <a href="{{ item.tag.get_absolute_url }}" title="{{ item.tag.title }}">
                    {% if item.tag.image %}
                        {% thumbnail item.tag.image "56x56" crop="center" upscale=0 as im %}
                            <img data-src="{{ im.url }}" alt="{{ item.tag.alt }}" class="lazy">
                        {% endthumbnail %}
                    {% endif %}
                    <span class="tooltip">
                        {{ item.tag }}
                        <i class="arrow"></i>
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>