{% load static i18n humanize %}
<div class="main-preview-game__info">
    <div class="rating-holder">
        <div class="rating" data-rateyo-rating="{{ object.rating|floatformat:0 }}"></div>
        ({{ object.total_votes|intcomma }} {% trans 'votes' %})
    </div>
    <ul class="main-preview-game__controls-list">
        <li>
            <a href="#" id="doesnt-work" data-id="{{ object.id }}">
                <i class="icon"><img src="{% static 'catalog/images/icon-warning.png' %}" alt="image description"></i>
                {% trans 'Doesn’t  <br>work?' %}
            </a>
        </li>
        <li>
            <a href="#" class="add-to-favourites" data-id="{{ object.id }}">
                <i class="icon"><img src="{% static 'catalog/images/icon-heart.png' %}" alt="image description"></i>
                <span>{% if object.id in request.session.favourites %}{% trans 'Added' %}{% else %}{% trans 'Add to <br>favorites' %}{% endif %}</span>
            </a>
        </li>
        <li>
            <a href="#" class="like-ajax" data-id="{{ object.id }}" data-action="like">
                <i class="icon"><img src="{% static 'catalog/images/icon-like.png' %}" alt="image description"></i>
                <span class="text blue">{{ object.fakelike|intcomma }}</span>
            </a>
        </li>
        <li>
            <a href="#" class="like-ajax" data-id="{{ object.id }}" data-action="dislike">
                <i class="icon"><img src="{% static 'catalog/images/icon-dislike.png' %}" alt="image description"></i>
                <span class="text red">{{ object.fakedislike|intcomma }}</span>
            </a>
        </li>
        <li>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ec2489f25560aef"></script>
            <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox"></div>
        </li>
        <li>
            <a href="#" id="request-fullscreen">
                <i class="icon"><img src="{% static 'catalog/images/icon-fullscreen.png' %}" alt="image description"></i>
                {% trans 'Fullscreen' %}
            </a>
        </li>
    </ul>
</div>