{% load i18n %}
<ul class="paging">
    {% for page in pages %}
        {{ page.render_link|default:'<span class="endless_separator">...</span>' }}
    {% endfor %}
{#    <li><a href="{{ request.path }}?show_all=1{% if request.GET.sort %}&sort={{ sort }}{% endif %}"><span>{% trans 'All' %}</span></a></li>#}
</ul>
