{% extends "admin/base_site.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
            Are you sure you want to change priority tag for selected items?
        </p>
        {% for object in objects %}
            <p>
                {{ object }}
            </p>
            <input type="hidden" name="_selected_action" value="{{ object.pk }}" />
        {% endfor %}

        <select name="tag">
            {% for o in tags %}
                <option value="{{ o.id}}">{{ o }}</option>
            {% endfor %}
        </select>
        <input type="checkbox" name="remove">Remove priority tag?

        <input type="hidden" name="action" value="change_priority_tag" />
        <input type="submit" name="apply" value="Change priority tag"/>
    </form>
{% endblock %}
