<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load i18n catalog_tags %}
    <title>{% building_meta 'title' object settings %}</title>
    <meta name="description" content="{% building_meta 'description' object settings %}" />
    <meta name="keywords" content="{{ object.meta_keywords|default:settings.meta_keywords }}" />
    <style>
        body, html {
            margin: 0;
            padding: 0;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
{{ object.embed_code }}
</body>